:root {
	--font-family: "Press Start 2P", cursive;
}

body {
	height: 100vh;
	text-align: center;
	background-color: lightskyblue;
}

h1,
h2,
#level__title {
	font-family: var(--font-family);
}

h1 {
	display: inline-flex;
	background: linear-gradient(to right, green, red, yellow, blue);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin-bottom: 0px;

	font-size: 5rem;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

.message__area {
	display: inline-flex;
	margin-top: 40px;
	padding: 10px;
}

#level__title {
	font-size: 2rem;
	color: mediumslateblue;
	text-shadow: 2px 2px navy;
	margin-right: 30px;
}

.container__area {
	display: flex;
	flex-direction: column;
}

.container__area > div {
	display: flex;
	justify-content: center;
	flex-direction: row;
	margin-bottom: 50px;
}

.box {
	height: 100px;
	width: 100px;
	border: 10px solid black;
	border-radius: 999px;
	margin: 10px;
}

#start__button {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 800;
	height: 75px;
	width: 75px;
	border: 5px solid rgba(255, 0, 0, 0.527);
	background-color: hsl(9, 100%, 43%);
	color: white;
	border-radius: 10%;
	margin: 0 0 50px 0;
	cursor: pointer;
	box-shadow: 3px 3px #888888;
}

#start__button:active {
	background-color: hsl(10, 16%, 31%);
	box-shadow: unset;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 25px;
	height: 200px;
	width: 200px;
	border: 10px solid black;
	border-radius: 20%;
	font-size: 150px;
	cursor: pointer;
}

.game-over {
	background-color: red;
	opacity: 0.8;
}

.box__red {
	background-color: red;
}

.box__green {
	background-color: green;
}

.box__blue {
	background-color: blue;
}

.box__yellow {
	background-color: yellow;
}

.pressed {
	box-shadow: 0 0 20px white;
	background-color: grey;
}

.fadeIn {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.fadeOut {
	opacity: 1;
}

footer {
	padding: 20px;
}

.dev__name {
	padding: 10px;
}
